.row {
    display: flex;
    gap: 2rem;
    width: 90%;
    margin-inline: auto;
}

.col {
    flex: 1;
}

.row h3 {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.row p,
.row a {
    text-decoration: none;
    color: var(--light-black);
    font-size: 1.25rem;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .row {
        flex-direction: column;
    }
}
