.container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.container p,
.container a {
    text-decoration: none;
    font-weight: 300;
    color: var(--black);
    font-size: 1.25rem;
}

@media only screen and (min-width: 0px) and (max-width: 965px) {
    .container p {
        order: 1;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .container p {
        text-align: center;
    }
}
