.content {
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.content > .heading {
    color: var(--white);
    text-align: center;
    font-size: 2.25rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.section1 {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 90%;
    margin-inline: auto;
}

.section1 img {
    height: auto;
    max-width: 100%;
}

.section1 .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.section1 .text h1 {
    font-weight: 700;
    font-size: 2.5rem;
    text-shadow: 0px 2px 2px var(--text-shadow);
    color: var(--white);
}

.section1 .text h1:nth-child(2) {
    text-align: center;
}

.section1 .text h1:nth-last-child(2) {
    text-align: end;
}

.section1 .text p {
    color: var(--grey);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--black);
    background-color: var(--secondary);
    align-self: flex-end;
    font-weight: 700;
    text-align: center;
}

.section1 .text h1:first-child,
.section1 .text h1:nth-last-child(2) {
    color: var(--yellow);
}

.section1 .logos {
    display: flex;
    column-gap: 1rem;
    align-items: flex-end;
}

.section1 .logos a {
    flex-shrink: 0;
}

.section1 .logos a img {
    height: auto;
    max-width: 100%;
}

.section2 {
    width: 90%;
    background-color: var(--dark-bg);
    display: flex;
    position: relative;
    padding-inline: calc(346px + 2%);
    justify-content: space-between;
}

.section2 .mobilephone {
    position: absolute;
    right: -10px;
    transform: translateY(-20%);
    z-index: 1;
}

.section2 .girl_cart {
    display: flex;
    height: 316px;
    margin-top: -18px;
}

.section2 .girl_cart h3 {
    align-self: flex-end;
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0px 2px 2px var(--text-shadow);
    max-width: 200px;
    padding-bottom: 12px;
}

.section2 .pick_price {
    display: flex;
    margin-bottom: -30px;
}

.section2 .pick_price img {
    align-self: flex-end;
}

.section2 .pick_price h3 {
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0px 2px 2px var(--text-shadow);
    max-width: 200px;
    padding-top: 12px;
}

.section3 {
    width: 98%;
    margin-left: auto;
    background-color: var(--dark-bg);
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-block: 7rem;
    padding-left: calc(2% + 346px);
    padding-right: calc(10% + 346px);
}

.section3 .mobilephone {
    position: absolute;
    left: -10px;
    transform: translateY(-40%);
    z-index: 1;
}

.section3 .chat {
    display: flex;
}

.section3 .chat img {
    align-self: flex-end;
}

.section3 .chat h3 {
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0px 2px 2px var(--text-shadow);
    max-width: 250px;
    padding-top: 12px;
}

.section3 .book_slot {
    display: flex;
    height: 316px;
    margin-top: -17px;
}

.section3 .book_slot h3 {
    align-self: flex-end;
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0px 2px 2px var(--text-shadow);
    max-width: 200px;
    padding-bottom: 12px;
}

.download_row {
    padding-block: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.75rem;
}

.partner_download {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.partner_download > h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    align-self: flex-end;
}

.partner_download .partner_content {
    display: flex;
    align-self: flex-end;
    column-gap: 0.75rem;
}

.partner_download .partner_content p {
    color: var(--black);
    font-size: 1.15rem;
    padding: 10px;
}

.partner_download .partner_content .logo_stack {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
    .section1 .logos {
        flex-direction: column;
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .download_row {
        flex-direction: column;
        padding-bottom: 1rem;
        padding-top: 2.5rem;
    }

    .partner_download {
        align-items: center;
        width: 100%;
        padding-bottom: 0rem;
    }

    .partner_download > h3 {
        align-self: center;
        text-align: center;
    }

    .partner_download .partner_content {
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        align-self: center;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {
    .content {
        padding-top: 2rem;
    }

    .content > .heading {
        padding-top: 2rem;
        padding-bottom: 3.5rem;
    }

    .section1 {
        flex-direction: column;
        width: 90%;
        row-gap: 2rem;
    }

    .section1 img {
        align-self: center;
        max-width: 80%;
    }

    .section1 .text p {
        align-self: center;
    }

    .section1 .logos {
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .section1 {
        width: 100%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 319px) {
    .section2 .girl_cart,
    .section2 .pick_price,
    .section3 .chat,
    .section3 .book_slot {
        flex-direction: column;
    }

    .section2 .girl_cart h3,
    .section2 .pick_price h3,
    .section3 .chat h3,
    .section3 .book_slot h3 {
        flex-direction: column;
        align-self: center;
    }

    .section2 .girl_cart h3 {
        padding-top: 1rem;
    }

    .section3 .book_slot {
        margin-top: 0px;
        justify-content: flex-end;
    }

    .section2 .girl_cart img,
    .section2 .pick_price img,
    .section3 .chat img,
    .section3 .book_slot img {
        height: auto;
        object-fit: contain;
        max-width: 100%;
        max-height: 200px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .section2 .girl_cart img,
    .section2 .pick_price img,
    .section3 .chat img,
    .section3 .book_slot img {
        height: auto;
        object-fit: contain;
        max-width: 100%;
        max-height: 200px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .section2,
    .section3 {
        padding-inline: 2%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .section2 .mobilephone,
    .section3 .mobilephone {
        position: static;
        max-width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: contain;
        transform: translateY(10%);
    }

    .section3 .mobilephone {
        order: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1174px) {
    .section2,
    .section3 {
        padding-inline: 2%;
        width: 100%;
        display: grid;
        grid-gap: 1rem;
    }

    .section2 .mobilephone,
    .section3 .mobilephone {
        position: static;
        max-width: 100%;
        height: auto;
    }

    .section2 .girl_cart,
    .section3 .chat {
        grid-area: cart;
    }

    .section2 .pick_price,
    .section3 .book_slot {
        grid-area: price;
    }

    .section2 .mobilephone,
    .section3 .mobilephone {
        grid-area: mobile;
        transform: translateY(-4%);
    }

    .section2 {
        grid-template-areas:
            'cart mobile'
            'price mobile';
    }

    .section3 {
        grid-template-areas:
            'mobile cart'
            'mobile price';
    }
}

@media only screen and (min-width: 1175px) and (max-width: 1339px) {
    .section2 {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .section3 {
        padding-right: 2%;
    }
}

@media only screen and (min-width: 1340px) and (max-width: 1519px) {
    .section2 .girl_cart,
    .section2 .pick_price,
    .section3 .chat,
    .section3 .book_slot {
        flex-direction: column;
    }

    .section2 .girl_cart h3,
    .section2 .pick_price h3,
    .section3 .chat h3,
    .section3 .book_slot h3 {
        align-self: center;
    }
}
