.content {
    padding-top: 6rem;
}

.content h1 {
    width: 90%;
    margin-inline: auto;
    font-size: 2.25rem;
    color: var(--white);
}

.container {
    background-color: var(--light-white);
    padding-block: 1.5rem;
    margin-top: 6rem;
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {
    .content {
        padding-top: 2rem;
    }

    .container {
        margin-top: 2rem;
    }
}
