.container {
    width: 90%;
    margin-inline: auto;
}

.container h4 {
    padding-top: 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--black);
}

.container p,
.container a {
    font-size: 1.5rem;
    color: var(--black);
}

.container p.padding {
    padding-top: 1.25rem;
}
