:root {
    --primary: #1adcf7;
    --secondary: #29f6f6;
    --light: #a1f7f0;
    --light-white: #fcffee;
    --light-black: #34342a;
    --yellow: #fff500;
    --black: #000000;
    --white: #ffffff;
    --grey: #404040;
    --button-shadow: rgba(0, 0, 0, 0.25);
    --text-shadow: rgba(0, 0, 0, 0.85);
}

body {
    background: linear-gradient(
        180deg,
        var(--light) 0%,
        rgba(6, 217, 246, 0.92) 54.17%,
        var(--primary) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100svh;
    min-height: 100vh;
}

* {
    margin: 0;
    box-sizing: border-box;
}
